@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    font-family: 'Lora';
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../images/me2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.wrapper
{
    background-color:rgba(255,255,0,0.3);
}
  h1
  {
      font-family: 'Roboto', sans-serif;
      font-size: 80px!important;
  }

  h5
  {
      color: blanchedalmond;
      background-color: black;
  }

#movies img, #movie img{
    width:100%;
  }

  .col-md-3
  {
    border-radius: 4px;
    
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
 
  }

  .col-md-3:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(150, 82, 82, 0.12), 0 4px 8px rgba(0,0,0,.06);
 background-color:rgba(255,255,0,0.3);
}

.row .well
{
    margin-top: 25px;
    color: black;
    border-radius: 5px;
}
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }